
 body {
    font-family: "Roboto", sans-serif;
    font-weight: 400; 
    font-weight: 500;  
    font-weight: 700;
    line-height: 1.5; 
    color: #434455;
    background-color: #FFFFFF;
}

 
 a {
    text-decoration: none;
    color:#434455;
    line-height: 1;
 }
 .active-link:active {
    color: #404BBF;
 }
 a:hover {
    color: #404BBF;
    text-decoration: underline;
 }
 li {
    list-style-type: none;
 }
 
 h1 {
    font-family: "Work Sans", sans-serif;
    font-style: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -2%;
 }
 h2 {
    
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 2%;
 }
 h3 {
    
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 2%;
 }
 .button-text {
    
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 4%;
    background-color: #4D5AE5;
    color:#fff;
    cursor: pointer;
 }
 .button-text:hover {
    background-color: #404BBF;
 }